<a href="https://colab.research.google.com/github/imsakshi/Python/blob/master/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
Functions - python block of code, reusability.

in functions we use two terma interchangeably.
**Parameters and arguments**

In [0]:
def add(a,b):  #here a and b parameters
  c = a  + b
  return c

In [3]:
add(2,3) # a = 2 , b = 3 , argument #positional argument.

5

In [4]:
add(b = 3, a = 7)

10

In [0]:
#suppose you have 10 numbers. we use a concept of passing variable length argument.

In [0]:
def my_sum(*a):
  return sum(a)

In [6]:
my_sum(1,2,3,4,5,6)

21

In [0]:
#find the average
def mean(*num):
  return (sum(num)/num)

Python recieves multiple argument *args and is known as variable length argument.

In [0]:
def my_func(*kids):
  print("The youngest child is", kids[2])

In [10]:
my_func("joy","fairy","ales")

The youngest child is ales

In [0]:
def mul(*a):
  m = 1
  for i in a:
    m = m * i
  return(m)

In [16]:
mul(1,2,3)

6

In [0]:
#Default parameter value
def greet(a, b = "hello"):
  return a * " hello "

In [24]:
greet(5)

' hello  hello  hello  hello  hello '

In [0]:
def greet(a = 5,b = " hello "):
  return a * b

In [34]:
greet(3)

' hello  hello  hello '

In [30]:
greet(2) #Default parameter value

'hellohello'

In [0]:
#Passing a list as an argument
def my_fun(food):
  for x in food:
    print(x)

In [0]:
fruits = ["apple","mango","banana"]

In [37]:
my_fun(fruits)

apple
mango
banana

In [0]:
ques. write a function func1() such that it can accept a variable length argument and print all argument value.
func1(80,90)
output:
80
90

In [39]:
#Recursive functions: 
def calculatesum(num):
  if num:
    return num + calculatesum(num-1)
  else:
    return 0
res = calculatesum(10)
print(res)

55

**lambda Functions**
In python lambda functions is considered as anonymous function written in a single line.
syntax : lambda arguments : expression
1. You can pass n no of arguments but lambda function only return single value.
2. lambda function does not allow return keyword
3. it can be used with built in functions like filter (),map() or reduce().

In [0]:
def cube(x):
  return x * x * x

In [41]:
cube(7)

343

In [0]:
func1 = lambda x : x * x* x

In [44]:
func1(4)

64

In [0]:
add = lambda a,b,c : a +b + c

In [46]:
add(2,3,5)

10

In [0]:
# i want a even numbers from a list.
# with lambda functions.
lambda() with filter()
The filter ( ) in python takes in a function and list as arguments.

In [0]:
list1 = [5,6,7,8,12,67,89,92]
final_list = list(filter(lambda x : (x%2 != 0),list1))

In [48]:
final_list

[5, 7, 67, 89]

In [0]:
  final_list =list(filter(function ---- lambda function , iterable --- list, tuple, string ))

In [0]:
lambda() with map()
list --- uske saare elements ko 2 s multiply krna h.
map(function,iterable)

In [0]:
fin_list = list(map(lambda x : x * 2,list1))

In [51]:
fin_list

[10, 12, 14, 16, 24, 134, 178, 184]

In [0]:
li = [1,4,6,8,9] --- input list
list2 = [1,16,36,64,81] --- output list

In [0]:
li = [1,4,6,8,9]
new_list=list(map(lambda x : x **2,li))

In [53]:
new_list

[1, 16, 36, 64, 81]

In [0]:
lambda with reduce()
The reduce function in python takes in a function and iterable as an argument. this function is designed to call with lambda function.
this performs a repetitive operation over the pairs and returns a reduced list.

In [0]:
from functools import reduce
li = [5,67,89,45,32,67]
sum1 = reduce((lambda x , y : x +y ), li)

In [55]:
sum1

305