
## A brief history of Python 

Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. It was created by Guido van Rossum during 1985- 1990. Like Perl, Python source code is also available under the GNU General Public License (GPL). This tutorial gives enough understanding on Python programming language.

## Why Python?

Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.

Python is a MUST for students and working professionals to become a great Software Engineer specially when they are working in Web Development Domain. I will list down some of the key advantages of learning Python:

* **Python is Interpreted**: Python is processed at runtime by the interpreter. You do not need to compile your program before executing it. This is similar to PERL and PHP.

* **Python is Interactive**: You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.

* **Python is Object-Oriented**: Python supports Object-Oriented style or technique of programming that encapsulates code within objects.

* **Python is a Beginner's Language**: Python is a great language for the beginner-level programmers and supports the development of a wide range of applications from simple text processing to WWW browsers to games.

Few of the words stated above might seem Greek, but worry not, we will discuss all this in great detail. 

## What makes Python so likeable?

Over the years, Python has taken over other languages like C, Java, Javascript, C++ and has been rated as number one language to learn owing to a variety of reasons:

1. **Easy-to-learn**: Python has few keywords, simple structure, and a clearly defined syntax. This allows the student to pick up the language quickly.

2. **Easy-to-read**: Python code is more clearly defined and visible to the eyes.

3. **Easy-to-maintain**: Python's source code is fairly easy-to-maintain.

4. **A broad standard library**: Python's bulk of the library is very portable and cross-platform compatible on UNIX, Windows, and Macintosh.

5. **Interactive Mode**: Python has support for an interactive mode which allows interactive testing and debugging of snippets of code.

6. **Portable**: Python can run on a wide variety of hardware platforms and has the same interface on all platforms.

7. **Extendable**: You can add low-level modules to the Python interpreter. These modules enable programmers to add to or customize their tools to be more efficient.

8. **Databases**: Python provides interfaces to all major commercial databases.

9. **GUI Programming**: Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh, and the X Window system of Unix.

10. **Scalable**: Python provides a better structure and support for large programs than shell scripting.

## IDE

So to write python and execute codes, you need an environment, also known as IDE (Integrated development environment). There are a lot of IDEs that you can use for writing Python. PyCharm, VS Code, Command prompt, online editors etc. The most used is the jupyter notebook which is very easy to use and versatile. We will recommend to use Jupyter notebook. 

## Lines and Indentation

Python provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount. For example −

## Numbers

Number data types store numeric values. They are immutable data types, means that changing the value of a number data type results in a newly allocated object.

Number objects are created when you assign a value to them. For example −

In [ ]:
x = 1
print(x)

In [2]:
y = 10
print(y)

10

In [3]:
id(x)

1670133147952

In [4]:
x = 20

In [5]:
id(x)

1670133148560

In [6]:
del x,y

In [7]:
x

NameError: name 'x' is not defined

Numeric value can be integer, floating number or even complex numbers. These values are defined as int, float and complex class in Python. 
 

* **Integers** – This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.
* **Float** – This value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation. 
* **Complex Numbers** – Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. For example – 2+3j 
 
Note – type() function is used to determine the type of data type.

In [11]:
x = 1
print("Type of x: ", type(x))
 
y = 20.0
print("Type of y: ", type(y))
 
z = 5 + 6j
print("Type of z: ", type(z))

Type of x:  <class 'int'>
Type of y:  <class 'float'>
Type of z:  <class 'complex'>

In [12]:
print(isinstance(z, complex))

True

### Number Type Conversion

We can convert one type of number into another. This is also known as coercion.Operations like addition, subtraction coerce integer to float implicitly (automatically), if one of the operands is float.

We can also use built-in functions to convert between types explicitly:

* Type `int(x)` to convert x to an integer.

* Type `float(x)` to convert x to a floating-point number.

* Type `complex(x)` to convert x to a complex number with real part x and imaginary part zero.

* Type `complex(x, y)` to convert x and y to a complex number with real part x and imaginary part y. x and y are numeric expressions

In [13]:
# implicit conversion
2 + 3.0

5.0

In [14]:
# explicit conversion
int(2 + 3.0)

5

In [15]:
float(3 + 5)

8.0

We can convert strings to numbers as well

In [16]:
float('3')

3.0

In [17]:
complex('2+3j')

(2+3j)

### Mathematical Functions
Python includes following functions that perform mathematical calculations.

In [18]:
abs(-2)

2

In [19]:
import math

In [20]:
math.sqrt(4)

2.0

In [21]:
math.ceil(2.3)

3

In [22]:
math.floor(3.9)

3

In [23]:
math.fabs(-4.5)

4.5

In [24]:
math.pow(3,3)

27.0

In [25]:
math.log(100)

4.605170185988092

In [26]:
math.log10(100)

2.0

In [27]:
math.exp(1)

2.718281828459045

## Strings

A string is a sequence of characters. 

Strings are amongst the most popular types in Python. Strings can be created by enclosing characters inside a single quote or double-quotes. Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [28]:
my_str = 'Hello'
print(my_str)

Hello

In [29]:
my_str = "Hello"
print(my_str)

Hello

In [30]:
my_str = '''Hello'''
print(my_str)

Hello

In [31]:
# triple quotes str can extend multiple lines
my_str = """Hello, 
Welcome to the Python session by Data Vader"""

print(my_str)

Hello,
Welcome to the Python session by Data Vader

We can access individual characters using **indexing** and a range of characters using **slicing**. 
We can access a range of characters in a string by using the slicing operator `:`(colon)

Index starts from 0. 

Trying to access a character out of index range will raise an `IndexError`. The index must be an integer. We can't use floats or other types, this will result into `TypeError`

In [32]:
my_str = 'Data Vader'
print(my_str)

Data Vader

In [33]:
# first character
print('my_str[0] = ', my_str[0])

my_str[0] =  D

In [34]:
#slicing 3nd to 6th character
print('my_str[2:5] = ', my_str[2:6])

my_str[2:5] =  ta V

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on.

In [35]:
# last character
print('my_str[0] = ', my_str[-1])

my_str[0] =  r

In [36]:
#slicing 6th to 2nd last character
print('my_str[5:-2] = ', my_str[5:-2])

my_str[5:-2] =  Vad

Strings are immutable. This means that elements of a string cannot be changed once they have been assigned. We can simply reassign different strings to the same name

In [37]:
my_str[0] = 'd'

TypeError: 'str' object does not support item assignment

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the del keyword.

In [38]:
del my_str[0]

TypeError: 'str' object doesn't support item deletion

In [39]:
del my_str

### Escape characters

An escape character gets interpreted. It is not printed as is, and it starts with a `\`(backslash character)

In [40]:
# \n works as newline cahracter
my_str = 'Data\nVader'
print(my_str)

Data
Vader

In [41]:
# \t works as tab cahracter
my_str = 'Data\tVader'
print(my_str)

Data	Vader

Raw String - Suppresses actual meaning of Escape characters. Use r/R just before the start of the string to mark it as raw string

In [42]:
my_str = r'Data\nVader'
print(my_str)

Data\nVader

### String Operations

There are many operations that can be performed with strings which makes it one of the most used data types in Python.

In [43]:
# + operator concatenates two or more strings into one
my_str_1 = "Data"
my_str_2 = "Vader"

print(my_str_1 + my_str_2)

DataVader

In [44]:
# * operator repeats a string given number of times
print(my_str_1*4)

DataDataDataData

Check if a character or subtring is present in a string using `in` keyword

In [45]:
'a' in 'Data'

True

In [46]:
'd' in 'Data'

False

In [47]:
'at' in 'Data'

True

use `not` along with `in` to check if it is not present

In [48]:
'v' not in 'Data'

True

In [49]:
'vader' not in 'Data Vader'

True

The `format()` method that is available with the string object is very versatile and powerful in formatting strings. Format strings contain curly braces `{}` as placeholders or replacement fields which get replaced.

We can use positional arguments or keyword arguments to specify the order.

In [50]:
# default(implicit) order
my_str = "{} {}".format('Data','Vader')
print(my_str)

Data Vader

In [51]:
# order using positional argument
my_str = "{1} {0}".format('Data','Vader')
print(my_str)

Vader Data

In [52]:
# order using keyword argument
my_str = "{a} {b}".format(a='data',b='vader')
print(my_str)

data vader

### String Methods
There are methods available with the string object. Some of the commonly used methods are `len()`, `lower()`, `upper()`, `split()`, `find()`, `replace()` etc.

In [53]:
my_str = 'Data Vader'
print(len(my_str))

10

In [54]:
my_str = 'DaTa VaDeR'
print(my_str.lower())

data vader

In [55]:
my_str = 'data vader'
print(my_str.upper())

DATA VADER

In [56]:
my_str = 'This is the first python session with Data Vader.'
print(my_str.split())

['This', 'is', 'the', 'first', 'python', 'session', 'with', 'Data', 'Vader.']

In [57]:
my_str = 'This is the first python session with Data Vader.'
print(my_str.find('python'))

18

In [58]:
my_str = 'This is the first python session with Data Vader.'
print(my_str.replace('first', 'second'))

This is the second python session with Data Vader.

In [59]:
my_str = 'This is the first python session with Data Vader.'
print(my_str.count('a'))

3

In [60]:
my_str = 'Welcome to session 1. We hope you learned something today.'
print(my_str.split('.'))

['Welcome to session 1', ' We hope you learned something today', '']

In [61]:
my_str = 'welcome to session 1. we hope you learned something today.'
print(my_str.capitalize())

Welcome to session 1. we hope you learned something today.

In [62]:
my_str = 'welcome to session 1. we hope you learned something today.'
print(my_str.title())

Welcome To Session 1. We Hope You Learned Something Today.

## Lists

List is one of the most frequently used and very versatile data types used in Python. It can be written as a list of comma-separated values (items) between square brackets. It can have different types of data format in it like integer, float, string etc.

In [63]:
my_list = []
print(my_list)

[]

In [64]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [65]:
my_list = ["Data", 21, 2.12]
print(my_list)

['Data', 21, 2.12]

A List can also have another list in it

In [66]:
my_list = [1, 2, ["data", "vader"], 3]
print(my_list)

[1, 2, ['data', 'vader'], 3]

List indices start at 0, and lists can be sliced and concatenated

In [67]:
print(my_list[0])

1

In [68]:
print(my_list[-1])

3

In [69]:
print(my_list[2])

['data', 'vader']

In [70]:
print(my_list[2][1])

vader

In [71]:
my_list = list("data vader")
print(my_list)

['d', 'a', 't', 'a', ' ', 'v', 'a', 'd', 'e', 'r']

In [72]:
print(my_list[:])

['d', 'a', 't', 'a', ' ', 'v', 'a', 'd', 'e', 'r']

In [73]:
print(my_list[:3])

['d', 'a', 't']

In [74]:
print(my_list[2:5])

['t', 'a', ' ']

In [75]:
print(my_list[-3:])

['d', 'e', 'r']

You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator, and you can add to elements in a list with the `append()` method.

In [76]:
my_list[0] = 'Z'
print(my_list)

['Z', 'a', 't', 'a', ' ', 'v', 'a', 'd', 'e', 'r']

In [77]:
my_list[:3] = ['p', 'i', 'e']
print(my_list)

['p', 'i', 'e', 'a', ' ', 'v', 'a', 'd', 'e', 'r']

In [78]:
my_list.append('2')
print(my_list)

['p', 'i', 'e', 'a', ' ', 'v', 'a', 'd', 'e', 'r', '2']

In [79]:
my_list.append(list('python'))
print(my_list)

['p', 'i', 'e', 'a', ' ', 'v', 'a', 'd', 'e', 'r', '2', ['p', 'y', 't', 'h', 'o', 'n']]

In [80]:
my_list.extend(list('python'))
print(my_list)

['p', 'i', 'e', 'a', ' ', 'v', 'a', 'd', 'e', 'r', '2', ['p', 'y', 't', 'h', 'o', 'n'], 'p', 'y', 't', 'h', 'o', 'n']

In [81]:
my_list_1 = [1,2,3]
my_list_2 = [11,12,13]
print(my_list_1 + my_list_2)

[1, 2, 3, 11, 12, 13]

In [82]:
print(my_list_1 * 2)

[1, 2, 3, 1, 2, 3]

In [83]:
my_list_1.insert(1,5)
print(my_list_1)

[1, 5, 2, 3]

To remove a list element, you can use either the del statement if you know exactly which element(s) you are deleting or the `remove()` method if you do not know

In [84]:
del my_list_1[1]
print(my_list_1)

[1, 2, 3]

In [85]:
my_list_1.remove(2)
print(my_list_1)

[1, 3]

In [86]:
my_list_1.extend([2]*3)
print(my_list_1)

[1, 3, 2, 2, 2]

In [87]:
my_list_1.remove(2)
print(my_list_1)

[1, 3, 2, 2]

In [88]:
my_list_1.clear()
print(my_list_1)

[]

In [89]:
my_list = [1,2,3,4,5,6,7,8,9,1,1,2,4,5,6,7]

In [90]:
print(len(my_list))

16

In [91]:
my_list.reverse()
print(my_list)

[7, 6, 5, 4, 2, 1, 1, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [92]:
print(my_list.count(1))

3

In [93]:
my_list.sort()
print(my_list)

[1, 1, 1, 2, 2, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 9]

In [94]:
print(my_list[::2])

[1, 1, 2, 4, 5, 6, 7, 8]

In [95]:
print(my_list[::-1])

[9, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 2, 2, 1, 1, 1]

In [96]:
print(my_list[::-2])

[9, 7, 6, 5, 4, 3, 2, 1]

List comprehension is an elegant and concise way to create a new list from an existing list in Python.

A list comprehension consists of an expression followed by for statement inside square brackets.

In [97]:
sqr = [x * x for x in range(10)]
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

You can add if statement after for to filter/ignore values based on condtion

In [98]:
sqr_even = [x * x for x in range(10) if x % 2 == 0]
print(sqr_even)

[0, 4, 16, 36, 64]

In [99]:
4 in sqr_even

True

In [100]:
5 in sqr_even

False

In [101]:
5 not in sqr_even

True

In [102]:
[4,16] in sqr_even

False

## Tuple

A tuple in Python is like a list. The main difference between the two is that tuple is immutabel, i.e. we cannot change the elements of a tuple once it is assigned. Another difference is use parentheses `()`, whereas lists use square brackets `[]`.

A tuple is created by placing all the items (elements) inside parentheses `()`, separated by commas. The parentheses are optional, however, it is a good practice to use them.

In [103]:
my_tuple = ()
print(my_tuple)

()

In [104]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [105]:
my_tuple = ("Data", 21, 2.12)
print(my_tuple)

('Data', 21, 2.12)

A tuple can also have another tuple in it

In [106]:
my_tuple = (1, 2, ("data", "vader"), 3)
print(my_tuple)

(1, 2, ('data', 'vader'), 3)

In [107]:
my_tuple = 1, 9.8, "hello"
print(my_tuple)

(1, 9.8, 'hello')

In [108]:
my_tuple[1] = 2.31

TypeError: 'tuple' object does not support item assignment

In [109]:
my_tuple = (1, 2, ("data", "vader"), 3)
print(my_tuple[2][1])

vader

In [110]:
my_tuple[2][1] = "analysis"

TypeError: 'tuple' object does not support item assignment

In [111]:
my_tuple = (1, 2, ["data", "vader"], 3)
my_tuple[2][1] = "analysis"
print(my_tuple)

(1, 2, ['data', 'analysis'], 3)

In [112]:
del my_tuple[2]

TypeError: 'tuple' object doesn't support item deletion

In [113]:
del my_tuple[2][1]

In [114]:
print(my_tuple)

(1, 2, ['data'], 3)

In [115]:
del my_tuple

In [116]:
print(my_tuple)

NameError: name 'my_tuple' is not defined

## Set

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed). However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, difference, etc.

A set is created by placing all the elements (items) inside curly braces `{}`, separated by comma, or by using the built-in `set()` function.

In [117]:
my_set = {2, 1, 3}
print(my_set)

{1, 2, 3}

In [118]:
my_set = {1.0, "Data", (9,10,11)}
print(my_set)

{1.0, (9, 10, 11), 'Data'}

In [119]:
my_set = {1, 2, 3, 1, 1, 2}
print(my_set)

{1, 2, 3}

In [120]:
my_set = set([1, 2, 3, 1])
print(my_set)

{1, 2, 3}

In [121]:
my_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

In [122]:
my_set[0]

TypeError: 'set' object is not subscriptable

You can add a single element using the `add()` method, and multiple elements using the `update()` method.

In [123]:
my_set.add(9)
print(my_set)

{1, 2, 3, 9}

In [124]:
my_set.update([9, 15, 21])
print(my_set)

{1, 2, 3, 9, 15, 21}

In [125]:
my_set.update((21, 29, 20))
print(my_set)

{1, 2, 3, 9, 15, 20, 21, 29}

A particular item can be removed from a set using the methods `discard()` and `remove()`. The only difference between the two is that the `discard()` function leaves a set unchanged if the element is not present in the set. On the other hand, the `remove()` function will raise an error in such a condition.

In [126]:
my_set.discard(2)
print(my_set)

{1, 3, 9, 15, 20, 21, 29}

In [127]:
my_set.discard(2)
print(my_set)

{1, 3, 9, 15, 20, 21, 29}

In [128]:
my_set.remove(2)
print(my_set)

KeyError: 2

In [129]:
my_set.remove(9)
print(my_set)

{1, 3, 15, 20, 21, 29}

In [130]:
my_set.remove(3)
print(my_set)

{1, 15, 20, 21, 29}

Sets can be used to carry out mathematical set operations like union, intersection, difference and difference. We can do this with operators or methods.

In [131]:
my_set_1 = {1,2,3,5,7,8,9,10,11}
my_set_2 = {2,3,4,5,6,7,8,12,13}

In [132]:
print(my_set_1.union(my_set_2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [133]:
print(my_set_1 | my_set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [134]:
print(my_set_1.intersection(my_set_2))

{2, 3, 5, 7, 8}

In [135]:
print(my_set_1 & my_set_2)

{2, 3, 5, 7, 8}

In [136]:
print(my_set_1.difference(my_set_2))

{1, 10, 11, 9}

In [137]:
print(my_set_2.difference(my_set_1))

{13, 4, 12, 6}

In [138]:
print(my_set_1 - my_set_2)

{1, 10, 11, 9}

In [139]:
print(my_set_1.symmetric_difference(my_set_2))

{1, 4, 6, 9, 10, 11, 12, 13}

In [140]:
print(my_set_1 ^ my_set_2)

{1, 4, 6, 9, 10, 11, 12, 13}

## Dictionary

Python dictionary is an unordered collection of a key/value pair. A dictionary is created by placing items inside curly braces `{}` separated by commas. An item has a key and a corresponding value that is expressed as a `key:value` pair.

In [141]:
my_dict = {'a': 'apple', 'b': 'ball'}
print(my_dict)

{'a': 'apple', 'b': 'ball'}

In [142]:
my_dict = {'name': 'python', 1: [1,2,3]}
print(my_dict)

{'name': 'python', 1: [1, 2, 3]}

In [143]:
my_dict = dict([('a','apple'), ('b','ball')])
print(my_dict)

{'a': 'apple', 'b': 'ball'}

`Key` is used to access values in a dictionary. Keys can be used either inside square brackets `[]` or with the `get()` method. The difference between `[]` and `get()` is that if key is not present `[]` will throw a KeyError whereas `get()` will return None.

In [144]:
my_dict = {'name': 'python', 1: [1,2,3]}
print(my_dict['name'])

python

In [145]:
print(my_dict.get('name'))

python

In [146]:
print(my_dict['a'])

KeyError: 'a'

In [147]:
print(my_dict.get('a'))

None

Dictionaries are mutable i.e. we can add new items or change the value of existing items using an assignment operator (=). If the key is already present, then the existing value gets updated. In case the key is not present, a new (key: value) pair is added to the dictionary.

In [148]:
my_dict['type'] = "Programming language"
print(my_dict)

{'name': 'python', 1: [1, 2, 3], 'type': 'Programming language'}

In [149]:
my_dict['name'] = 'java'
print(my_dict)

{'name': 'java', 1: [1, 2, 3], 'type': 'Programming language'}

In [150]:
del my_dict['type']
print(my_dict)

{'name': 'java', 1: [1, 2, 3]}

Dictionary comprehension is an elegant and concise way to create a new dictionary from an iterable in Python. Dictionary comprehension consists of an expression pair (key: value) followed by a for statement inside curly braces `{}`.

In [151]:
sqr = {x: x*x for x in range(10)}
print(sqr)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [152]:
even_sqr = {x: x*x for x in range(10) if x % 2 == 0}
print(even_sqr)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [153]:
0 in even_sqr

True

In [154]:
'0' in even_sqr

False

# Thank You